<nav>
        <ul class="nav">
            <li><a href="https://www.espoo.fi/en-US/Childcare_and_education/Comprehensive_education/Comprehensive_schools/Joint_comprehensive_schools/Espoo_International_School"
                   class="tm-text-link" target="_blank">EIS Espoo_International_School</a></li>
            <li><a href="https://sivistysvantaa.fi/internationalschoolofvantaa/index.html" class="tm-text-link" target="_blank">ISV International School Of Vantaa</a></li>
            <li><a href="https://ishelsinki.fi/" class="tm-text-link" target="_blank">ISH International School Of Helsinki</a></li>
            <li><a href="https://www.hel.fi/peruskoulut/fi/koulut/ressun-peruskoulu" class="tm-text-link" target="_blank">Ressu Elementary School</a></li>
        </ul>
    </nav>
