 <div class="media tm-related-post">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="services/mobile-app-soon.png" alt="Generic placeholder image">
    </a>
  </div>

  <div class="media-body">
    <a href="#"><h4 class="media-heading tm-gold-text">FITA mobile application</h4></a>
    <p class="tm-content-text">Members can avail FITA services through mobile application. Coming soon...</p>
    <p class="tm-content-text">త్వరలో  FiTA సేవలు మీ చేరవాణి లో</p>
  </div>
</div>
