<div class="media tm-related-post">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="services/telugu-school.png" alt="Generic placeholder image">
    </a>
  </div>

  <div class="media-body">
    <a href="#"><h4 class="media-heading tm-gold-text">Telugu School</h4></a>
    <p class="tm-content-text">తెలుగు పాఠశాల - Telugu classes for children starting soon. Email to fintelugu@gmail.com</p>
    <p class="tm-content-text">మాతృదేశానికి ఎంతో దూరంలో ఉన్న మన అందరికి, మన పిల్లలకు, మన మాతృభాషపై మక్కువ పెరగాలనే సత్సంకల్పంతో మొదలైనది <a class="tm-gold-text"><b>FITA తెలుగు పాఠశాల.</b></a>.
      ఈ సేవ ద్వారా పిల్లలకు తెలుగు చదువుట, వ్రాయుట, సంభాషిచుట మరియు తెలుగు పాటలు, పద్యాలు నేర్పించబడుతుంది.
      పిల్లలను ఉత్సాహపరచాలనే ఉద్దేశ్యముతో తెలుగు నీతి కధలను చెప్పటం మరియు పుస్తకములు అందించడం జరుగుతుంది.
    </p>

    <p>వివిధ ప్రదేశాలలో శాఖలను ప్రారంభించడం కొరకు సభ్యులతో సంప్రదించమనవి.</p>
  </div>
</div>
